#transition {
    width: 100px;
    height: 100px;
    background: red;
    transition: all 2s;
}

#transition:hover {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: green;
}